.todoList {
    display: flex;
    justify-content: center;
}


.todo {
    padding: 2rem;
    width: 20%;
    border-radius: 5px;
    border: 1px solid  #393D3F;
    box-shadow: 2px 2px 10px;
    background-color: #62929E;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .todo:hover{
      box-shadow: none;
  }
  
.todocompleted {
    padding: 2rem;
    width: 20%;
    border-radius: 5px;
    border: 1px solid  #393D3F;
    box-shadow: 2px 2px 10px;
    background-color: #546A7B;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    text-decoration: line-through;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
